version: '3.7'
services:
  lottery-service:
    image: lottery-service:1.0-SNAPSHOT
    container_name: lottery-service
    hostname: lottery-service
    ports:
      - "8081:8081"
      - "5006:5006"
    volumes:
      - ./logs/lottery-service-default/:/smart/share/lottery/logs/
    environment:
      - JAVA_ARGS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5006
  edge-service:
    image: edge-service:1.0-SNAPSHOT
    container_name: edge-service
    hostname: edge-service
    ports:
      - "8080:8080"
      - "5005:5005"
    volumes:
      - ./logs/edge-service-default/:/smart/share/edge/logs/
    environment:
      - LOTTERY_SERVICE_BASE_URL=lottery-service:8081
      - JAVA_ARGS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005